<a 
  href="{{ url }}"
  class="teaser"
  title="
    {% if type == 'homepage' %}
      Back to homepage
    {% else %}
      Open {{ node.title.value }}
    {% endif %}
  ">

  {% if content.field_image|render %}
    <div class="teaser__thumb">
      {{ content.field_image}}
    </div>
  {% endif %}

  <div class="teaser__content">
    <h3>{{ node.title.value }}</h3>

    {% if content.body %}
      {{ content.body }}
    {% endif %}
  </div>

</a>