{% extends "node.html.twig" %}

{% block content %}

	{% if view_mode == "teaser" %}

		<a href="{{ url }}" title="Open {{ node.title.value }}">
		
			<h3>{{ node.title.value }}</h3>

			{% if content.body %}
				{{ content.body }}
			{% endif %}

		</a>

	{% else %}

		{{ title_prefix }}
			<h1>{{ node.title.value }}</h1>
		{{ title_suffix }}

		{{ content }}

	{% endif %}
		
{% endblock %}
