{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'view__' ~ view.element['#name'],
    'entity',
    'entity__view'
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="grid justify-space-between">
    <div class="col-3">

      {% if footer %}
        <div class="view__{{ view.element['#name'] }}__footer entity__view__header">
          {{ footer }}
        </div>
      {% endif %}
      
      {{ exposed }}

    </div>
    <div class="col-8">
      
      {{ title_prefix }}
      {{ title }}
      {{ title_suffix }}

      {% if header %}
        <div class="view__{{ view.element['#name'] }}__header entity__view__header">
          {{ header }}

          <div class="custom-sort">
            <label>Sort by</label>

            <select id="custom-sort"></select>
          </div>
        </div>
      {% endif %}

      {{ attachment_before }}

      {{ rows }}
      {{ empty }}
      {{ pager }}

      {{ attachment_after }}
      {{ more }}

    </div>
  </div>

  {{ feed_icons }}
</div>